
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<div class='container'>
<%= link_to "Редактировать", edit_article_path(@article), :class => 'btn btn-warning' %>  
<%= link_to "Удалить", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" },:class => 'btn btn-danger' %>
</div>

<h2>Комментарии:</h2>
<%= render @article.comments %>

<h2>Добавить комментарий:</h2>
<%= render 'comments/form' %>

